.add-friends {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.add-friends > a > button {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4.5rem;
  gap: 0.5rem;
}

.add-friends > a > button > svg {
  width: 3rem;
  height: 3rem;
  stroke-width: 2px;
  color: #333333;
}

.recommended-friends > p {
  margin: 3rem 0rem;
  text-align: center;
  font-size: 1rem;
  font-family: "inter", sans-serif;
  font-weight: 400;
  color: #333333;
}

.open-chat > div.section-title > a {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #666666;
}

.open-chat__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.open-chat__item__info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.open-chat__item__detailed-info {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.open-chat__item__detailed-info > div.profile-picture {
  width: 1.5rem;
  height: 1.5rem;
}

.open-chat__item__detailed-info > span {
  font-size: 0.9rem;
  color: #666666;
}

.open-chat__item__cover {
  width: 6rem;
  height: 6rem;
  background-color: blueviolet;
  border-radius: 20%;
}
